aiohttp>=2.2.5
alphabet_detector
beautifulsoup4
bleach
cachetools
emoji
feedparser
future
geopy
git+https://github.com/starry69/python-markdown2.git
humanize
jikanpy
lxml
nltk
Pillow>=4.2.0
pretty_errors
psutil
pynewtonmath
python-telegram-bot==12.8
requests
spamwatch
speedtest-cli
spongemock
sqlalchemy==1.3.20
telethon
ujson
wikipedia
zalgo-text
